a {
  text-decoration: none;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  min-width: 1440px;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.page-sidebar {
  width: 391px;
  padding: 43px 0;
  float: left;
}

.page-sidebar__title {
  margin-left: 69px;
  font-size: 24px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #20201f;
}

.page-sidebar__list {
  padding-top: 25px;
}

.page-sidebar__element {
  display: block;
  margin-top: 2px;
  height: 46px;
  color: #20201f;
  font-size: 16px;
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 46px;
  padding: 0 10px 0 97px;
  background-color: #f9f9f9;
  -webkit-transform: translateZ(0);
  transition: color .5s, background-color .5s;
}

.page-sidebar__element_active, .page-sidebar__element:hover {
  color: #38ac6a;
  background-color: #e8f4e8;
}

.header {
  height: 186px;
}

.header__top-menu {
  width: 1440px;
  margin: 0 auto;
  height: 135px;
}

.header__logo-box {
  padding: 39px 0 0 65px;
  float: left;
}

.header__logo-link {
  display: block;
}

.header__logo {
  max-width: 300px;
  max-height: 80px;
}

.header__login-box {
  float: right;
  display: block;
  margin: 60px 0 0 0;
  width: 160px;
  height: 48px;
  border-left: 1px solid #e0e2e4;
}

.header__cart-box {
  display: block;
  float: right;
  margin: 60px 70px 0 0;
  width: 160px;
  height: 48px;
  border-left: 1px solid #e0e2e4;
}

.header__cart-pic-box {
  float: left;
  width: 52px;
  padding: 2px 0 0 11px;
}

.header__cart-pic {
  width: 52px;
  height: 46px;
}

.header__cart-info-box {
  margin: 0 0 0 77px;
}

.header__cart-title {
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  color: #20201f;
}

.header__cart-price {
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  color: #20201f;
}

.header__login-unauth {
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  color: #20201f;
  padding: 0 10px 0 17px;
}

.header__search-box {
  padding-top: 60px;
  margin: 0 auto;
  width: 413px;
}

.header__search-border {
  height: 46px;
  border: 1px solid #257246;
  border-radius: 3px;
}

.header__search-button {
  display: block;
  float: right;
  padding: 7px 15px 10px 8px;
}

.header__search-img {
  width: 31px;
  height: 31px;
}

.header__search {
  display: block;
  width: 345px;
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 44px;
  color: #20201f;
  margin: 0 54px 0 10px;
}

.header__bottom-menu {
  height: 51px;
  background-color: #38AC6A;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}

.header__wrapper {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.header__menu-left {
  margin-left: 69px;
  float: left;
  width: 220px;
  height: 100%;
  border-right: 2px solid #257246;
}

.header__delivery {
  display: block;
}

.header__house-pic-box {
  padding-top: 9px;
  float: left;
  width: 42px;
}

.header__house-pic {
  width: 42px;
  height: 39px;
}

.header__delivery-phone {
  padding-top: 14px;
  margin: 0 20px;
  float: left;
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #fff;
}

.header__arrow-pic-box {
  padding-top: 13px;
  width: 15px;
  float: left;
}

.header__arrow-pic {
  width: 15px;
  height: 7px;
}

.header__menu-right {
  float: right;
  margin-right: 50px;
}

.header__menu-element {
  display: block;
  float: right;
  color: #fff;
  font-size: 18px;
  font-family: Tahoma, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 14px 15px;
  position: relative;
}
.header__menu-element:hover .header__menu-dropdown {
  display: block;
}

.header__menu-element-link {
  color: #fff;
  font-size: 18px;
  font-family: Tahoma, Helvetica, sans-serif;
  text-transform: uppercase;
}

.header__menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
  z-index: 100;
  display: none;
}

.header__menu-dropdown-element {
  display: block;
  font-family: Tahoma,Helvetica,sans-serif;
  font-size: 18px;
  padding: 14px 15px;
  text-transform: uppercase;
  background-color: #38AC6A;
  color: #fff;
  border-top: 1px solid #fff;
}

.footer {
  background-color: #f2f2f2;
  padding: 93px 0 38px;
}

.footer__inner {
  background-color: #38AC6A;
  height: 84px;
}

.footer__wrapper {
  width: 1440px;
  margin: 0 auto;
}

.footer__social-box {
  width: 166px;
  margin: 0 auto;
  padding-top: 24px;
}

.footer__social {
  width: 31px;
  height: 31px;
  float: left;
  display: block;
  background: url("../img/footer-socials.png") no-repeat;
  margin-right: 14px;
}

.footer__social_vk {
  background-position: -32px 0;
}

.footer__social_google {
  background-position: -64px 0;
}

.footer__social_facebook {
  background-position: -96px 0;
  margin-right: 0;
}

.checkbox, .radio {
  opacity: 0;
  position: absolute;
}

.radio-box {
  position: relative;
}

.checkbox, .checkbox-label, .radio, .radio-label {
  display: inline-block;
  cursor: pointer;
}

.checkbox + .checkbox-label:before, .radio + .radio-label:before {
  background: #fff;
  display: block;
  content: '';
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  border: solid 3px #6aaa6d;
  position: absolute;
  left: 0;
  margin-right: 5px;
}

.checkbox_small + .checkbox-label_small:before, .radio_small + .radio-label_small:before {
  width: 13px;
  height: 13px;
  border: solid 2px #6aaa6d;
  margin-right: 5px;
}

.checkbox_alert + .checkbox-label_alert:before, .radio_alert + .radio-label_alert:before {
  border-color: #e45304;
}

.checkbox-label, .radio-label {
  position: relative;
  color: #20201f;
  font-size: 20px;
  line-height: 22px;
  padding-left: 25px;
}

.checkbox-label_small, .radio-label_small {
  font-size: 16px;
  line-height: 18px;
}

.checkbox-label_alert, .radio-label_alert {
  color: #e45304;
}

.checkbox:checked + .checkbox-label:after, .radio:checked + .radio-label:after {
  display: block;
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #6aaa6d;
  top: 5px;
  left: 5px;
}

.checkbox_small:checked + .checkbox-label_small:after, .radio_small:checked + .radio-label_small:after {
  width: 5px;
  height: 5px;
  top: 4px;
  left: 4px;
}

.checkbox_alert:checked + .checkbox-label_alert:after, .radio_alert:checked + .radio-label_alert:after {
  background-color: #e45304;
}

.label-shutted {
  color: #787877;
  font-size: 16px;
}

.label-attention {
  color: #6aaa6d;
}

.btn {
  display: inline-block;
  padding: 0 23px;
  box-sizing: border-box;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #6aaa6d;
  background-color: #fff;
  border: solid 1px #489247;
  cursor: pointer;
  font-size: 20px;
  line-height: 42px;
  -webkit-transform: translateZ(0);
  transition: background-color 0.5s, color 0.5s;
}
.btn:hover {
  background-color: #489247;
  color: #fff;
}

.btn_block {
  display: block;
  width: 100%;
  text-align: center;
}

.select {
  display: block;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-bottom: solid 1px #489247;
  cursor: pointer;
  position: relative;
}
.select:after {
  content: "";
  display: block;
  position: absolute;
  right: 3px;
  top: 8px;
  width: 7px;
  height: 7px;
  border-bottom: 3px solid #489247;
  border-right: 3px solid #489247;
  transform: rotate(45deg);
}

.select_active .select__options {
  display: block;
}

.select__selected {
  padding: 5px;
  margin-right: 20px;
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.select__options {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}

.select__option {
  padding: 8px 5px;
  font-size: 15px;
  line-height: 17px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}
.select__option:hover {
  color: #489247;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 15px;
  line-height: 18px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  border-bottom: solid 1px #6aaa6d;
  outline: none;
}

.main__fixed-about {
  background: url("../img/fixed-about.png");
  width: 55px;
  height: 332px;
  position: fixed;
  top: 255px;
  right: 5px;
  display: block;
}

.main-sidebar {
  width: 393px;
  padding: 19px 0;
  float: left;
}

.main-sidebar__category-0 {
  display: block;
  font-size: 17px;
  line-height: 46px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #20201f;
  padding-left: 70px;
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}

.main-sidebar__category-0_expandable:after {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #489247;
  border-right: 2px solid #489247;
  position: absolute;
  top: 16px;
  right: 10px;
  transition: transform .5s;
  transform: rotate(-45deg);
}
.main-sidebar__category-0_expandable:hover:after, .main-sidebar__category-0_expandable.main-sidebar__category-0_expandable_active:after {
  transform: rotate(45deg);
}

.main-sidebar__category-1-box {
  position: relative;
}
.main-sidebar__category-1-box:hover .main-sidebar__category-2-list {
  display: block;
  visibility: visible;
  opacity: 1;
}
.main-sidebar__category-1-box:hover .main-sidebar__category-1 {
  background-color: #e8f4e8;
}
.main-sidebar__category-1-box:hover .main-sidebar__category-1 .main-sidebar__category-1-title {
  color: #6aaa6d;
}

.main-sidebar__category-1 {
  display: block;
  padding-left: 70px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #f3f3f3;
  -webkit-transform: translateZ(0);
  transition: background-color .5s;
}

.main-sidebar__category-1_expandable:after {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #696969;
  border-right: 2px solid #696969;
  position: absolute;
  top: 16px;
  right: 10px;
  transition: transform .5s;
  transform: rotate(-45deg);
}

.main-sidebar__category-1_active {
  background-color: #e8f4e8;
  color: #6aaa6d;
}

.main-sidebar__category-1-img-box {
  float: left;
  width: 55px;
  line-height: 46px;
}

.main-sidebar__category-1-img {
  max-width: 55px;
  max-height: 44px;
  vertical-align: middle;
}

.main-sidebar__category-1-title {
  font-size: 17px;
  line-height: 46px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #20201f;
  margin-left: 60px;
  -webkit-transform: translateZ(0);
  transition: color .5s;
}

.main-sidebar__category-2-list {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 393px;
  -webkit-transform: translateZ(0);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.main-sidebar__category-2 {
  display: block;
  position: relative;
  z-index: 10;
  background-color: rgba(249, 249, 249, 0.95);
  font-size: 17px;
  color: #20201f;
  line-height: 46px;
  font-family: Tahoma, Helvetica, sans-serif;
  padding-left: 80px;
  margin-bottom: 1px;
  -webkit-transform: translateZ(0);
  transition: background-color .5s, color .5s;
}
.main-sidebar__category-2:hover {
  background-color: #e8f4e8;
  color: #6aaa6d;
}

.main {
  margin-left: 395px;
  width: 975px;
  padding: 19px 0;
}

.main-products__unit {
  position: relative;
}

.main-products__title-box {
  padding: 22px 35px 0 44px;
}

.main-products__title {
  padding-bottom: 7px;
  border-bottom: 1px solid #489247;
  font-size: 25px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.main__product-list {
  padding: 18px 35px 0 44px;
  position: relative;
  z-index: 2;
  height: 350px;
}

.main-products__arrow {
  position: absolute;
  z-index: 3;
  top: 200px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}
.main-products__arrow:hover {
  border-bottom: 3px solid #489247;
  border-right: 3px solid #489247;
}

.main-products__arrow_left {
  left: 13px;
  transform: rotate(135deg);
}

.main-products__arrow_right {
  right: 0;
  transform: rotate(-45deg);
}

.recent {
  margin-top: 50px;
  border-top: 1px solid #e0e2e4;
  padding: 20px 70px 0;
}

.recent__products-box {
  position: relative;
}

.recent__title {
  padding: 8px 0 40px 0;
  font-size: 25px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.recent__arrow {
  position: absolute;
  z-index: 3;
  top: 170px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}
.recent__arrow:hover {
  border-bottom: 3px solid #489247;
  border-right: 3px solid #489247;
}

.recent__arrow_left {
  left: 13px;
  transform: rotate(135deg);
}

.recent__arrow_right {
  right: 0;
  transform: rotate(-45deg);
}

.recent__products-view {
  height: 220px;
  padding-left: 39px;
}

.recent-product {
  float: left;
  width: 234px;
  height: 220px;
  margin-left: 14px;
  position: relative;
}
.recent-product:first-child {
  margin-left: 0;
}

.recent-product__title {
  padding: 6px 0 0 25px;
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  height: 20px;
  overflow: hidden;
}

.recent-product__volume {
  padding: 4px 0 0 25px;
  font-size: 15px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
  height: 20px;
  overflow: hidden;
}

.recent-product__price-box {
  position: absolute;
  top: 120px;
  left: 150px;
}

.recent-product__price-title {
  font-size: 12px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
}

.recent-product__price {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.recent-product__pic-box {
  padding-top: 20px;
  height: 110px;
  text-align: center;
}

.recent-product__pic {
  max-height: 80px;
  max-width: 150px;
}

.recent-product__to-cart {
  display: block;
  font-size: 16px;
  line-height: 39px;
  color: #489247;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid #549953;
}

.banners {
  padding: 146px 0 50px;
  text-align: center;
  background: linear-gradient(to bottom, #fff, #fafafa);
}

.banner {
  display: inline-block;
}

.banner {
  width: 403px;
  height: 113px;
  margin-left: 26px;
}
.banner:first-child {
  margin-left: 0;
}

.slider {
  width: 975px;
  height: 447px;
  position: relative;
}

.slider-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider__arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 65px;
  background-color: rgba(105, 105, 105, 0.54);
  cursor: pointer;
}
.slider__arrow:after {
  content: "";
  position: absolute;
  top: 217px;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #080807;
  border-right: 4px solid #080807;
  border-radius: 1px;
}
.slider__arrow:hover:after {
  top: 220px;
  width: 14px;
  height: 14px;
}

.slider__arrow_left {
  left: 0;
}
.slider__arrow_left:after {
  left: 25px;
  transform: rotate(135deg);
}

.slider__arrow_right {
  right: 0;
}
.slider__arrow_right:after {
  right: 25px;
  transform: rotate(-45deg);
}

.product {
  width: 288px;
  float: left;
  margin-left: 16px;
}
.product:first-child {
  margin-left: 0;
}

.product__box {
  width: 288px;
  height: 349px;
  position: relative;
}
.product__box:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
.product__box:hover .product__origin-text {
  display: block;
}
.product__box:hover .product__seller {
  display: block;
}
.product__box:hover .product__post-comment {
  display: block;
}

.product__badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 62px;
  height: 58px;
}

.product__badge_sale {
  background: url("../img/badges/sale.png");
}

.product__badge_new {
  background: url("../img/badges/new.png");
}

.product__badge_kosher {
  background: url("../img/badges/kosher.png");
}

.product__badge_religion {
  background: url("../img/badges/religion.png");
}

.product__badge_child {
  background: url("../img/badges/child.png");
}

.product__badge_discard {
  background: url("../img/badges/discard.png");
  cursor: pointer;
}

.product__origin {
  padding: 15px 60px 0 30px;
  height: 20px;
  overflow: hidden;
}

.product__origin-text {
  display: none;
  font-size: 12px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
}

.product__title-box {
  padding: 2px 30px 0;
  position: relative;
  height: 40px;
}

.product__title {
  font-size: 15px;
  color: #20201f;
  max-height: 40px;
  overflow: hidden;
  font-family: Tahoma, Helvetica, sans-serif;
}

.product__volume {
  position: absolute;
  top: 100%;
  left: 30px;
  width: 50%;
  font-size: 15px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
  max-height: 20px;
  overflow: hidden;
}

.product__pic-box {
  height: 170px;
  text-align: center;
}

.product__pic {
  max-height: 150px;
  max-width: 220px;
}

.product__price_old {
  position: absolute;
  right: 20px;
  top: 170px;
  font-size: 25px;
  color: #676663;
  font-family: Tahoma, Helvetica, sans-serif;
}
.product__price_old:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  top: 48%;
}

.product__price {
  position: absolute;
  right: 20px;
  top: 200px;
  font-size: 25px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.product__to-cart {
  display: block;
  border: 1px solid #489247;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  color: #6aaa6d;
  font-family: Tahoma, Helvetica, sans-serif;
}

.product__cart {
  border: 1px solid #489247;
  height: 48px;
}

.product__cart-edit {
  line-height: 48px;
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  display: block;
  width: 33.33%;
}

.product__cart-edit_less {
  color: #fff;
  background-color: #6aaa6d;
  float: left;
}

.product__cart-edit_value {
  color: #6aaa6d;
  margin: 0 auto;
}

.product__cart-edit_more {
  color: #fff;
  background-color: #6aaa6d;
  float: right;
}

.product__seller {
  padding: 15px 20px 0 30px;
  display: none;
}

.product__seller-reputation-box {
  float: right;
  width: 80px;
}

.product__seller-star-box {
  float: left;
  line-height: 18px;
  margin-right: 1px;
}

.product__seller-reputation {
  float: right;
  font-size: 15px;
  line-height: 18px;
  color: #f5d130;
  font-family: Tahoma, Helvetica, sans-serif;
}

.product__seller-title {
  font-size: 15px;
  line-height: 18px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  margin-right: 100px;
}

.product__post-comment {
  cursor: pointer;
  display: none;
  font-size: 15px;
  line-height: 29px;
  height: 29px;
  color: #f5d130;
  font-family: Tahoma, Helvetica, sans-serif;
  background: url("../img/post-comment.png") no-repeat left center;
  margin: 10px 0 0 30px;
  padding-left: 40px;
}

.product-linear__table {
  width: 100%;
}

.product-linear {
  padding-top: 10px;
}
.product-linear:first-child {
  padding-top: 0;
}

.product-linear__space {
  height: 10px;
}

.product-linear__pic-box {
  width: 8%;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px 0 10px 25px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
}

.product-linear__pic {
  max-width: 90%;
  max-height: 50px;
}

.product-linear__title {
  width: 22%;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px 0 10px 25px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.product-linear__volume {
  width: 6%;
  font-size: 20px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px 0 10px 25px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.product-linear__origin {
  width: 22%;
  font-size: 20px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px 0 10px 25px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.product-linear__seller {
  width: 13%;
  font-size: 20px;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px 0 10px 25px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.product-linear__rate-box {
  width: 10%;
  font-size: 15px;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px 0 10px 25px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  color: #f5d130;
  font-family: Tahoma, Helvetica, sans-serif;
}

.product-linear__price {
  text-align: right;
  width: 13%;
  padding: 10px 25px;
  font-size: 25px;
  vertical-align: middle;
  box-sizing: border-box;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.recipes {
  margin-left: 409px;
  padding: 100px 0;
  width: 966px;
}
.recipes:after {
  content: "";
  display: table;
  clear: both;
}

.recipe {
  position: relative;
  display: block;
  width: 322px;
  height: 262px;
  float: left;
}
.recipe:hover .recipe__shade {
  top: 37px;
  bottom: 20px;
  left: 37px;
  right: 37px;
}
.recipe:hover .recipe__info {
  padding-top: 45px;
}
.recipe:hover .recipe__title {
  font-size: 18px;
}
.recipe:hover .recipe__description {
  visibility: visible;
  opacity: 1;
}
.recipe:hover .recipe__view {
  visibility: visible;
  opacity: 1;
}

.recipe__pic {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.recipe__shade {
  background-color: #020202;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translateZ(0);
  transition: top .5s, bottom .5s, left .5s, right .5s;
}

.recipe__info {
  position: relative;
  z-index: 3;
  padding-top: 100px;
  -webkit-transform: translateZ(0);
  transition: padding .5s;
}

.recipe__title {
  margin: 0 40px;
  color: #fff;
  font-size: 30px;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  -webkit-transform: translateZ(0);
  transition: font-size .5s;
}

.recipe__description {
  color: #fff;
  font-size: 14px;
  font-family: Tahoma, Helvetica, sans-serif;
  height: 87px;
  overflow: hidden;
  margin: 12px 60px 25px;
  -webkit-transform: translateZ(0);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.recipe__view {
  margin: 0 60px;
  display: block;
  color: #38ac6a;
  font-size: 14px;
  line-height: 32px;
  font-family: Tahoma, Helvetica, sans-serif;
  border: 1px solid #38ac6a;
  border-radius: 1px;
  text-align: center;
  -webkit-transform: translateZ(0);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.recipe-page {
  padding: 85px 0 50px;
}

.recipe-page__pic-box {
  text-align: center;
}

.recipe-page__pic {
  width: 1300px;
}

.recipe-page__title {
  font-size: 40px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  margin: 35px 0;
}

.recipe-page__description {
  font-size: 25px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  width: 1100px;
  margin: 0 auto;
}

.cart-page {
  background-color: #fcfafa;
}

.cart-details {
  height: 169px;
}

.cart-details__pay-type-box {
  width: 300px;
  padding: 30px 0 0 70px;
  float: left;
}

.cart-details__pay-type-title {
  font-size: 20px;
  line-height: 30px;
  vertical-align: baseline;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  float: left;
  max-width: 40%;
}

.cart-details__pay-type {
  font-size: 14px;
  line-height: 30px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  vertical-align: baseline;
  width: 60%;
  margin-left: 40%;
  padding: 2px 0 3px;
  border-bottom: 1px solid #6aaa6d;
}

.cart-details__add-promo-box {
  width: 253px;
  padding: 47px 0 0 40px;
  float: left;
}

.cart-details__add-promo {
  display: block;
  font-size: 20px;
  line-height: 42px;
  color: #6aaa6d;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid #6aaa6d;
  padding-right: 6px;
}

.cart-details__delivery-info {
  width: 350px;
  padding: 30px 0 0 50px;
  float: left;
}

.cart-details__address-box {
  height: 36px;
}

.cart-details__address-title {
  font-size: 20px;
  line-height: 30px;
  vertical-align: baseline;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  float: left;
  max-width: 45%;
}

.cart-details__address {
  font-size: 14px;
  line-height: 30px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  vertical-align: baseline;
  width: 50%;
  margin-left: 50%;
  padding: 2px 0 3px;
  border-bottom: 1px solid #6aaa6d;
}

.cart-details__time-box {
  height: 36px;
}

.cart-details__time-title {
  font-size: 20px;
  line-height: 30px;
  vertical-align: baseline;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  float: left;
  max-width: 45%;
}

.cart-details__time {
  font-size: 14px;
  line-height: 30px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  vertical-align: baseline;
  width: 50%;
  margin-left: 50%;
  padding: 2px 0 3px;
  border-bottom: 1px solid #6aaa6d;
}

.cart-details__right {
  width: 300px;
  float: right;
  padding: 47px 50px 0 0;
}

.cart-details__submit-box {
  height: 50px;
}

.cart-details__sum-box {
  float: left;
  width: 50%;
}

.cart-details__sum {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.cart-details__sum-title {
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.cart-details__submit {
  display: block;
  font-size: 20px;
  line-height: 42px;
  color: #6aaa6d;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid #6aaa6d;
  margin-left: 49%;
  width: 49%;
}

.cart-details__additional {
  height: 25px;
}

.cart-details__refund {
  margin-top: 9px;
  display: block;
  float: left;
  font-size: 15px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #e45304;
  text-decoration: underline;
}

.cart-details__replace {
  margin-top: 9px;
  display: block;
  float: left;
  font-size: 15px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #e45304;
  text-decoration: underline;
  margin-left: 14px;
}

.cart-summary {
  background-color: #fff;
  height: 54px;
}

.cart-summary__wrapper {
  text-align: center;
}

.cart-summary__elem {
  height: 54px;
  display: inline-block;
  margin-left: 40px;
  padding-top: 10px;
}
.cart-summary__elem:first-child {
  margin-left: 0;
}

.cart-summary__count {
  font-size: 25px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #6aaa6d;
  vertical-align: middle;
}

.cart-summary__weight {
  font-size: 25px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #6aaa6d;
  vertical-align: middle;
}

.cart-summary__clear {
  font-size: 25px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #e45304;
  vertical-align: middle;
  text-decoration: underline;
}

.cart-summary__pic {
  max-height: 50px;
  max-width: 60px;
  vertical-align: middle;
  margin-right: 10px;
}

.cart-list {
  margin-top: 42px;
  padding: 45px 0 50px;
  background-color: #fff;
}

.cart-list__title-box {
  margin: 5px 54px 0 70px;
  height: 30px;
  padding-bottom: 3px;
  border-bottom: 1px solid #6aaa6d;
}

.cart-list__title {
  float: left;
  font-size: 25px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #20201f;
}

.cart-list__view {
  float: right;
  background: url("../img/products-view.png") no-repeat;
  width: 21px;
  height: 19px;
  display: block;
  cursor: pointer;
}

.cart-list__view_list {
  background-position: -21px 0;
}

.cart-list__view_icon {
  background-position: 0 0;
  margin-right: 6px;
}

.cart-list__box {
  width: 1200px;
  margin: 0 auto;
}
.cart-list__box:after {
  content: "";
  display: table;
  clear: both;
}
.cart-list__box .product {
  margin-top: 30px;
}
.cart-list__box .product:nth-child(5n) {
  margin-left: 0;
}

.cart-list__line {
  margin: 50px 54px 0 70px;
  height: 1px;
  background-color: #489247;
}

.cart-list__summary {
  height: 50px;
  margin: 41px 54px 0 0;
}

.cart-list__submit {
  width: 138px;
  display: block;
  font-size: 20px;
  line-height: 42px;
  color: #6aaa6d;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid #6aaa6d;
  float: right;
}

.cart-list__sum-box {
  float: right;
  width: 140px;
  margin-right: 5px;
}

.cart-list__sum {
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #20201f;
}

.cart-list__sum-title {
  font-size: 15px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #20201f;
}

.popup-product {
  width: 845px;
  background-color: #fff;
  position: relative;
}

.popup-close {
  position: absolute;
  background: url("../img/badges/discard.png");
  width: 62px;
  height: 58px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.popup-product__category-box {
  padding: 29px 80px 0 50px;
}

.popup-product__category-origin {
  margin-right: 5px;
}

.popup-product__category-main {
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

.popup-product__category-splitter {
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__category-sub {
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

.popup-product__origin {
  padding: 15px 80px 0 50px;
  font-size: 12px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__title {
  padding: 1px 80px 0 50px;
  font-size: 20px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__volume {
  padding: 0 80px 0 50px;
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__box {
  padding: 3px 80px 0 50px;
}
.popup-product__box:after {
  content: "";
  display: block;
  clear: both;
}

.popup-product__pic-box {
  float: left;
  width: 425px;
  text-align: center;
}

.popup-product__pic {
  max-width: 400px;
}

.popup-product__price-box {
  margin-left: 425px;
}

.popup-product__price {
  font-size: 32px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__price-4-one-title {
  padding-top: 3px;
  font-size: 18px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__price-4-one {
  padding-top: 6px;
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__cart {
  margin-top: 10px;
  border: 1px solid #489247;
  height: 48px;
}

.popup-product__to-cart {
  margin-top: 10px;
  display: block;
  border: 1px solid #489247;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  color: #6aaa6d;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__cart-edit {
  line-height: 48px;
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  display: block;
  width: 33.33%;
}

.popup-product__cart-edit_less {
  color: #fff;
  background-color: #6aaa6d;
  float: left;
}

.popup-product__cart-edit_value {
  color: #6aaa6d;
  margin: 0 auto;
}

.popup-product__cart-edit_more {
  color: #fff;
  background-color: #6aaa6d;
  float: right;
}

.popup-product__error-box {
  padding-top: 19px;
  text-align: right;
}

.popup-product__error {
  background: url("../img/error.png") no-repeat;
  padding-left: 25px;
  font-size: 15px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

.popup-product__tabs {
  padding: 35px 0 25px;
}

.popup-product__tabs-box {
  border-bottom: 1px solid #e4e4e4;
}
.popup-product__tabs-box:after {
  content: "";
  display: table;
  clear: both;
}

.popup-product__tab-name {
  padding: 15px 0;
  border-bottom: 2px solid transparent;
  font-size: 20px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
  cursor: pointer;
  width: 25%;
  float: left;
  text-align: center;
}
.popup-product__tab-name:hover {
  border-bottom: 2px solid #6aaa6d;
  color: #6aaa6d;
}

.popup-product__tab-name_active {
  border-bottom: 2px solid #6aaa6d;
  color: #6aaa6d;
}

.popup-product__seller {
  padding: 13px 80px 0 50px;
  font-size: 15px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__seller-name {
  margin-left: 5px;
  color: #787877;
}

.popup-product__seller-rate-box {
  padding: 10px 80px 0 50px;
  font-size: 15px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__seller-rate {
  color: #f5d130;
}

.popup-confirm {
  width: 650px;
  position: relative;
  background-color: #fff;
  padding-bottom: 35px;
}

.popup-confirm__title {
  font-size: 25px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 60px 50px 30px;
}

.popup-confirm__options {
  padding: 0 50px;
}

.popup-confirm__option {
  margin-top: 30px;
}
.popup-confirm__option:after {
  content: "";
  display: table;
  clear: both;
}

.popup-confirm__option_name {
  width: 220px;
  float: left;
  font-size: 20px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-confirm__option_value {
  margin-left: 220px;
  font-size: 20px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
}

.popup-confirm__note-title {
  color: #ff5200;
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 40px 50px 0;
}

.popup-confirm__note {
  color: #ff5200;
  font-size: 15px;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 5px 50px 0;
}

.popup-confirm__hr {
  height: 1px;
  background-color: #e4e4e4;
  width: 100%;
  margin: 35px 0;
}

.popup-confirm__button-box {
  margin-top: 32px;
  padding: 0 50px;
  height: 44px;
}

.popup-confirm__button {
  color: #6aaa6d;
  font-size: 20px;
  line-height: 42px;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  display: block;
  float: right;
  width: 170px;
  border: 1px solid #489247;
}

.popup-rate {
  width: 770px;
  position: relative;
  background-color: #fff;
  padding: 50px 0;
}

.popup-rate__title {
  font-size: 25px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 0 50px;
}

.popup-rate__hr {
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  margin: 10px 0 30px;
}

.popup-rate__hr_bottom {
  margin: 50px 0;
}

.popup-rate__option {
  padding: 20px 50px 0;
}

.popup-rate__option-label {
  font-size: 20px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
  float: left;
  width: 200px;
}

.popup-rate__option-stars {
  width: 160px;
  height: 30px;
  float: left;
}

.popup-rate__option-star {
  cursor: pointer;
  display: block;
  float: left;
  margin-left: 3px;
  width: 29px;
  height: 26px;
  background: url("../img/star-filled_big.png") no-repeat;
}
.popup-rate__option-star:first-child {
  margin-left: 0;
}

.popup-rate__option-star_empty {
  background: url("../img/star-empty_big.png") no-repeat;
}

.popup-rate__option-textarea-box {
  margin-left: 380px;
}

.popup-rate__option-textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  resize: none;
  padding: 5px 10px;
}
.popup-rate__option-textarea:focus {
  border: 1px solid #38AC6A;
}

.popup-rate__summary {
  padding: 50px 50px 0;
}

.popup-rate__summary-label {
  font-size: 20px;
  color: #1A1A19;
  font-family: Tahoma, Helvetica, sans-serif;
  float: left;
  width: 180px;
  padding-top: 15px;
}

.popup-rate__summary-stars {
  width: 210px;
  height: 30px;
  float: left;
  padding-top: 10px;
}

.popup-rate__summary-star {
  display: block;
  float: left;
  margin-left: 3px;
  width: 39px;
  height: 35px;
  background: url("../img/star-filled_large.png") no-repeat;
}
.popup-rate__summary-star:first-child {
  margin-left: 0;
}

.popup-rate__summary-star_empty {
  background: url("../img/star-empty_large.png") no-repeat;
}

.popup-rate__summary-rate {
  font-size: 44px;
  color: #ffd200;
  font-family: Tahoma, Helvetica, sans-serif;
  margin-left: 410px;
}

.popup-rate__submit-box {
  padding: 0 50px;
  text-align: right;
}

.sellers__title-box {
  width: 1300px;
  margin: 40px auto 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #489247;
}

.sellers__title {
  font-size: 25px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.sellers__list {
  width: 1220px;
  margin: 0 auto;
}
.sellers__list:after {
  content: "";
  display: table;
  clear: both;
}

.sellers__seller {
  display: block;
  float: left;
  width: 290px;
  height: 350px;
  margin-top: 28px;
  margin-left: 20px;
  position: relative;
  -webkit-transform: translateZ(0);
  transition: box-shadow .5s;
}
.sellers__seller:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
.sellers__seller:after {
  display: block;
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-top: 20px solid #6aaa6d;
  border-right: 20px solid #6aaa6d;
  top: 0;
  right: 0;
}
.sellers__seller:first-child, .sellers__seller:nth-child(5n) {
  margin-left: 0;
}

.sellers__seller-pic-box {
  padding-top: 30px;
  text-align: center;
}

.sellers__seller-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.sellers__seller-name {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 15px 0;
  text-align: center;
}

.sellers__seller-description {
  font-size: 15px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  max-height: 80px;
  overflow: hidden;
  padding: 0 40px;
  text-align: center;
}

.seller__title-box {
  width: 1300px;
  margin: 43px auto 0;
  border-bottom: 1px solid #489247;
  padding-bottom: 13px;
}

.seller__title {
  font-size: 25px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.seller__info {
  width: 1275px;
  height: 260px;
  padding-left: 25px;
  margin: 70px auto 0;
}
.seller__info:after {
  content: "";
  display: table;
  clear: both;
}

.seller__info-left {
  float: left;
  width: 310px;
}

.seller__pic-box {
  text-align: center;
}

.seller__pic {
  width: 170px;
  height: 170px;
}

.seller__rate-box {
  margin: 15px 0 5px;
  text-align: center;
}

.seller__star {
  height: 26px;
  max-width: 30px;
}

.seller__rate {
  font-size: 30px;
  color: #f5d130;
  font-family: Tahoma, Helvetica, sans-serif;
}

.seller__since {
  text-align: center;
  font-size: 15px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
}

.seller__info-right {
  box-sizing: border-box;
  width: 965px;
  height: 260px;
  padding-left: 25px;
  border-left: 1px solid #e0e2e4;
  overflow-y: auto;
}

.seller__name {
  font-size: 25px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.seller__domain {
  margin-top: 14px;
  font-size: 15px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
}

.seller__description-title {
  margin-top: 33px;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.seller__description {
  margin-top: 10px;
  font-size: 15px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
}

.seller__gallery-box {
  width: 1250px;
  height: 173px;
  margin: 30px auto 0;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 20px 0;
}

.seller__arrow {
  display: block;
  width: 39px;
  height: 173px;
  position: relative;
  cursor: pointer;
}
.seller__arrow:after {
  content: "";
  display: block;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  border-radius: 2px;
  position: absolute;
  top: 75px;
  width: 18px;
  height: 18px;
}
.seller__arrow:hover:after {
  border-bottom: 3px solid #489247;
  border-left: 3px solid #489247;
}

.seller__arrow_left {
  float: left;
}
.seller__arrow_left:after {
  transform: rotate(45deg);
  left: 14px;
}

.seller__arrow_right {
  float: right;
}
.seller__arrow_right:after {
  transform: rotate(225deg);
  left: 4px;
}

.seller__gallery {
  width: 1171px;
  margin: 0 39px;
}

.seller__gallery-pic {
  width: 176px;
  height: 173px;
  display: block;
  margin-left: 23px;
  float: left;
}
.seller__gallery-pic:first-child {
  margin-left: 0;
}

.seller__tabs-box {
  margin: 20px auto 0;
  width: 1250px;
}

.seller__tabs {
  border-bottom: 1px solid #e4e4e4;
}
.seller__tabs:after {
  content: "";
  display: table;
  clear: both;
}

.seller__tab {
  display: block;
  float: left;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 10px 15px 7px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.seller__tab:hover {
  color: #6aaa6d;
  border-bottom: 2px solid #6aaa6d;
}

.seller__tab_active {
  color: #6aaa6d;
  border-bottom: 2px solid #6aaa6d;
}

.seller__tab-box {
  margin: 10px 0 0;
  padding-bottom: 52px;
}
.seller__tab-box .product {
  margin-top: 30px;
}
.seller__tab-box .product:nth-child(5n) {
  margin-left: 0;
}
.seller__tab-box:after {
  content: "";
  display: table;
  clear: both;
}

.seller__post-link-box {
  text-align: right;
  margin: 5px 0;
}

.seller__post-link {
  font-size: 20px;
  color: #6aaa6d;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

.comments__post {
  margin-top: 24px;
}
.comments__post:first-child {
  margin-top: 0;
}

.comments__author {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.comments__stars {
  margin-left: 5px;
}

.comments__star {
  width: 13px;
  height: 12px;
}

.comments__comment {
  margin-top: 9px;
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.comments__reply-box {
  margin-top: 14px;
}

.comments__reply {
  color: #64c3c2;
  text-decoration: underline;
  background: url("../img/comments-reply.png") no-repeat left center;
  padding-left: 20px;
}

.comments__form {
  margin-top: 40px;
}

.comments__form-info {
  height: 30px;
}

.comments__form-name-box {
  float: left;
  width: 170px;
}

.comments__form-name {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 28px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  border: 1px solid #e4e4e4;
  padding: 0 7px;
  box-sizing: border-box;
}

.comments__form-rate-box {
  display: block;
  float: left;
  font-size: 15px;
  height: 28px;
  padding: 1px 0;
  margin-left: 20px;
}

.comments__form-rate-title {
  font-size: 15px;
  line-height: 28px;
}

.comments__form-stars {
  margin-left: 5px;
  cursor: default;
}

.comments__form-star {
  display: inline-block;
  cursor: pointer;
  width: 13px;
  height: 12px;
  background: url("../img/star-empty.png") no-repeat;
}

.comments__form-star_filled {
  width: 13px;
  height: 12px;
  background: url("../img/star-filled.png") no-repeat;
}

.comments__form-textarea-box {
  margin-top: 28px;
}

.comments__form-textarea {
  width: 100%;
  padding: 4px 7px;
  box-sizing: border-box;
  counter-reset: none;
  border: 1px solid #6aaa6d;
  resize: none;
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.comments__form-submit-box {
  margin-top: 30px;
  text-align: right;
}

.comments__form-submit {
  display: inline-block;
  font-size: 20px;
  line-height: 42px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #6aaa6d;
  border: 1px solid #6aaa6d;
  padding: 0 60px;
  cursor: pointer;
}

.deliver {
  padding: 20px 0 50px;
}

.deliver__title-box {
  margin: 20px 70px 0;
  padding-bottom: 13px;
  border-bottom: 1px solid #489247;
}

.deliver__title {
  font-size: 25px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.deliver__columns {
  margin: 50px 73px 0;
  border: 1px solid #f3f3f3;
}

.deliver__table {
  width: 100%;
}

.deliver__column {
  padding: 24px;
  border-left: 1px solid #f3f3f3;
  width: 33.3%;
  vertical-align: top;
}
.deliver__column:first-child {
  border-left: none;
}

.deliver__sub-title {
  font-size: 15px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 25px 0 10px;
}

.deliver__method-box {
  margin-top: 25px;
  height: 30px;
}

.deliver__method-option {
  width: 155px;
  float: left;
}

.deliver__hr {
  height: 1px;
  width: 100%;
  background-color: #f3f3f3;
  margin: 30px 0 20px;
}

.deliver__address-box {
  margin: 30px 0 40px;
}

.deliver__time-box {
  margin: 20px 0 15px;
}
.deliver__time-box:after {
  content: "";
  display: table;
  clear: both;
}

.deliver__time-option {
  float: left;
  width: 180px;
  margin-right: 22px;
}

.deliver__time-option_hour {
  margin-right: 0;
  width: 130px;
}

.deliver__time-earlier-box {
  margin: 25px 0 5px;
}

.deliver__pay-method {
  margin-top: 10px;
}

.deliver__pay-method_cash-box {
  margin: 5px 0 0 30px;
}

.deliver__change-box:after {
  content: "";
  display: table;
  clear: both;
}

.deliver__change-radio {
  padding: 5px 0;
  margin-right: 15px;
  float: left;
}

.deliver__change-input {
  float: left;
  width: 70px;
}

.deliver__replace-title {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  margin-bottom: 40px;
}

.deliver__replace {
  margin-top: 26px;
}

.deliver__recall-fail-title {
  margin: 10px 27px 0;
  font-size: 15px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
}

.deliver_recall-fail {
  margin: 2px 28px;
}

.deliver__sum {
  margin-top: 20px;
}
.deliver__sum:after {
  content: "";
  display: table;
  clear: both;
}

.deliver__sum-option {
  float: left;
  font-size: 15px;
  padding-top: 5px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
}

.deliver__sum-value {
  float: right;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.deliver__sum-value_input {
  width: 140px;
}

.deliver__phone-title {
  margin-top: 25px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
}

.deliver__phone-box {
  margin-top: 20px;
}

.deliver__phone {
  width: 150px;
}

.deliver__offer-box {
  margin: 15px 28px 0;
}

.deliver__offer {
  font-size: 15px;
  color: #e45304;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

.deliver__confirm {
  margin-top: 90px;
}

.deliver__products {
  margin: 10px 73px;
}

.profile {
  margin: 0 0 0 409px;
  width: 957px;
  padding-top: 100px;
  padding-bottom: 60px;
}

.profile-track__info {
  border: 1px solid #f3f3f3;
}
.profile-track__info:after {
  content: "";
  display: table;
  clear: both;
}

.profile-track__info-left {
  width: 200px;
  margin: 20px 0 0 20px;
  float: left;
}

.profile-track__info-right {
  margin-left: 250px;
  padding-top: 55px;
}
.profile-track__info-right:after {
  clear: both;
  content: "";
  display: table;
}

.profile-track__sum {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}
.profile-track__sum:before {
  display: inline-block;
  content: "";
  width: 26px;
  height: 23px;
  background: url("../img/cart-icon.png");
  background-size: 26px 23px;
  margin-right: 30px;
}

.profile-track__options {
  margin-top: 15px;
}

.profile-track__option {
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.profile-track__from {
  width: 200px;
  float: left;
  text-align: right;
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  margin-top: 22px;
}
.profile-track__from:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 5px;
  background: url("../img/location.png") no-repeat;
}

.profile-track__to {
  width: 200px;
  float: right;
  text-align: left;
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  margin-top: 22px;
}

.profile-track__state {
  margin: 0 220px;
  position: relative;
  height: 50px;
}

.profile-track__state-bar-bg {
  height: 14px;
  width: 100%;
  border: 1px solid #f3f3f3;
  position: absolute;
  top: 27px;
  left: 0;
  box-sizing: border-box;
}

.profile-track__state-bar {
  height: 14px;
  position: absolute;
  top: 27px;
  left: 0;
  box-sizing: border-box;
  background-color: #97c499;
}

.profile-track__state-cart {
  position: absolute;
  top: 20px;
  width: 28px;
  height: 28px;
  background: url("../img/cart-icon.png") no-repeat center center #fff;
  background-size: 16px;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
  margin-left: -14px;
}

.profile-track__state-description {
  position: absolute;
  top: 0;
  font-size: 12px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
}

.profile-track__state_0 .profile-track__state-bar {
  width: 0;
}
.profile-track__state_0 .profile-track__state-cart {
  left: 0;
}

.profile-track__state_1 .profile-track__state-bar {
  width: 50%;
}
.profile-track__state_1 .profile-track__state-cart {
  left: 50%;
}

.profile-track__state_2 .profile-track__state-bar {
  width: 100%;
}
.profile-track__state_2 .profile-track__state-cart {
  left: 100%;
}

.profile-track__status {
  border: 1px solid #f3f3f3;
  border-top: none;
  padding: 20px 20px 10px 20px;
}

.profile-track__status-title {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.profile-track__table {
  width: 100%;
}

.profile-track__table th {
  font-size: 15px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: normal;
  padding: 10px 0;
}

.profile-track__table td {
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  border-top: 1px solid #f3f3f3;
  padding: 10px 0;
}

.profile-track__table-number {
  width: 40px;
  text-align: center;
}

.profile-track__table-operation {
  width: 250px;
  text-align: left;
}

.profile-track__table-description {
  text-align: left;
}

.profile-track__map-title {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 20px;
}

.profile-track__map {
  width: 100%;
  display: block;
}

.profile-setting {
  border: 1px solid #f3f3f3;
  padding: 0 25px;
}

.profile-setting__title-box {
  padding: 25px 0;
  border-bottom: 1px solid #f3f3f3;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
}

.profile-setting__save-box {
  border-top: 1px solid #f3f3f3;
  padding: 20px 0;
  text-align: right;
}

.profile-setting__hr {
  height: 1px;
  background-color: #f3f3f3;
}

.profile-setting__block {
  height: 30px;
  padding: 20px 0;
}

.profile-setting__3-col {
  width: 30%;
  margin-left: 5%;
  float: left;
}
.profile-setting__3-col:first-child {
  margin-left: 0;
}

.profile-setting__2-col {
  width: 45%;
  margin-left: 10%;
  float: left;
}
.profile-setting__2-col:first-child {
  margin-left: 0;
}

.profile-setting__3-label {
  float: left;
  width: 100px;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.profile-setting__2-label {
  float: left;
  width: 200px;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.profile-setting__3-input {
  margin-left: 100px;
}

.profile-setting__2-input {
  margin-left: 200px;
}

.profile-setting__notification-input {
  float: left;
  width: 100px;
  margin-top: 4px;
}

.profile-history__unit {
  border: 1px solid #f3f3f3;
  padding: 0 20px;
  margin-top: 10px;
}
.profile-history__unit:first-child {
  margin-top: 0;
}

.profile-history__unit_active .profile-history__short-id-link:before, .profile-history__unit_active .profile-history__short-history-link:before {
  transform: rotate(225deg);
  top: 10px;
}
.profile-history__unit_active .profile-history__info {
  display: block;
}

.profile-history__short-info {
  height: 26px;
  padding: 16px 0;
}

.profile-history__short-id {
  width: 160px;
  float: left;
  padding-right: 10px;
}

.profile-history__short-id-link {
  font-size: 20px;
  color: #38ac6a;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
  position: relative;
  padding-left: 20px;
}
.profile-history__short-id-link:before {
  border-bottom: 2px solid #38ac6a;
  border-right: 2px solid #38ac6a;
  content: "";
  height: 10px;
  position: absolute;
  top: 5px;
  left: 0;
  transform: rotate(45deg);
  width: 10px;
}

.profile-history__short-date {
  width: 200px;
  padding-right: 20px;
  float: left;
  font-size: 20px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
}

.profile-history__short-summary {
  font-size: 15px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0 260px 0 380px;
  padding-top: 5px;
  padding-right: 20px;
}

.profile-history__short-status {
  font-size: 20px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  float: right;
  width: 100px;
  padding: 0 20px;
  text-align: center;
  border-left: 1px solid #f3f3f3;
}

.profile-history__short-history {
  width: 100px;
  padding-left: 20px;
  float: right;
}

.profile-history__short-history-link {
  font-size: 20px;
  color: #38ac6a;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
  position: relative;
  padding-right: 20px;
}
.profile-history__short-history-link:before {
  border-bottom: 2px solid #38ac6a;
  border-right: 2px solid #38ac6a;
  content: "";
  height: 10px;
  position: absolute;
  top: 5px;
  right: 0;
  transform: rotate(45deg);
  width: 10px;
}

.profile-history__info {
  display: none;
}

.profile-history__options {
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  padding: 20px 25px;
}

.profile-history__option-box {
  margin-top: 10px;
}
.profile-history__option-box:first-child {
  margin-top: 0;
}

.profile-history__option-label {
  font-size: 20px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  width: 280px;
  float: left;
}

.profile-history__option {
  font-size: 20px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  margin-left: 300px;
}

.profile-history__products {
  padding: 0 25px;
}

.profile-history__list {
  width: 100%;
}

.profile-history__list td {
  border-top: 1px solid #f3f3f3;
}

.profile-history__list tr:first-child td {
  border-top: none;
}

.profile-history__product-pic-box {
  width: 300px;
  padding: 20px 0;
}

.profile-history__product-pic {
  max-width: 280px;
  max-height: 280px;
  text-align: left;
  vertical-align: middle;
}

.profile-history__product-description {
  padding: 20px 0;
}

.profile-history__product-name {
  font-size: 20px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
}

.profile-history__product-volume {
  margin-top: 10px;
  font-size: 15px;
  color: #797977;
  font-family: Tahoma, Helvetica, sans-serif;
}

.profile-history__product-seller {
  margin-top: 10px;
  font-size: 15px;
  color: #797977;
  font-family: Tahoma, Helvetica, sans-serif;
}

.profile-history__product-count {
  width: 100px;
  text-align: right;
  vertical-align: middle;
  font-size: 20px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 20px 0 20px 20px;
}

.profile-history__product-price {
  width: 140px;
  text-align: right;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 20px 0 20px 20px;
}

.profile-history__deliver-box {
  padding: 16px 25px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.profile-history__deliver-label {
  font-size: 20px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  width: 280px;
  float: left;
}

.profile-history__deliver-address {
  font-size: 20px;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 0 160px 0 300px;
}

.profile-history__deliver-sum {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  float: right;
  width: 140px;
  text-align: right;
}

.profile-history__status-box {
  padding: 15px 25px 25px;
  height: 100px;
}

.profile-history__status-label {
  float: left;
  font-size: 15px;
  color: #797977;
  font-family: Tahoma, Helvetica, sans-serif;
  padding-top: 46px;
}

.profile-history__status {
  margin: 21px 0 0 20px;
  float: left;
  padding: 12px 40px;
  border: 3px solid #38AC6A;
  border-radius: 5px;
  font-size: 20px;
  color: #38AC6A;
  font-family: Tahoma, Helvetica, sans-serif;
  transform: rotate(-15deg);
}

.profile-history__status_success {
  border: 3px solid #38AC6A;
  color: #38AC6A;
}

.profile-history__sum-label {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  margin-right: 20px;
  padding-top: 41px;
}

.profile-history__sum {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #1a1a19;
  font-family: Tahoma, Helvetica, sans-serif;
  width: 140px;
  text-align: right;
  padding-top: 41px;
}

.contacts__title-box {
  border-bottom: 1px solid #489247;
  margin: 20px 70px 0;
  padding-bottom: 13px;
}

.contacts__title {
  font-size: 25px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.contacts__info {
  margin: 0 70px;
}
.contacts__info:after {
  content: "";
  display: table;
  clear: both;
}

.contacts__block {
  float: left;
  width: 50%;
}

.contact__pic {
  width: 100%;
  height: 365px;
}

.contacts__option {
  margin-top: 30px;
  height: 32px;
}

.contacts__option_name {
  line-height: 32px;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  float: left;
}

.contacts__option_value {
  margin-left: 100px;
  font-size: 25px;
  line-height: 32px;
  color: #6aaa6d;
  font-family: Tahoma, Helvetica, sans-serif;
}

.contacts__map {
  margin-top: 180px;
}

.contacts__map_pic {
  width: 100%;
}

.about {
  margin-left: 409px;
  padding: 100px 0 0;
  width: 966px;
}
.about:after {
  content: "";
  display: table;
  clear: both;
}

.about-market__block {
  margin-top: 20px;
}
.about-market__block:first-child {
  margin-top: 0;
}

.about-market__block-title {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.about-market__block-pics {
  text-align: center;
  margin-top: 40px;
}

.about-market__block-pic {
  width: 170px;
  height: 170px;
  margin-left: 25px;
}
.about-market__block-pic:first-child {
  margin-left: 0;
}

.about-market__block-description {
  margin-top: 40px;
  font-size: 15px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  padding-bottom: 27px;
  border-bottom: 1px solid #e4e4e4;
}

.about-service__title {
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.about-service__list {
  width: 840px;
  margin: 40px auto 0;
}
.about-service__list:after {
  content: "";
  display: table;
  clear: both;
}

.about-service__stage {
  width: 210px;
  height: 295px;
  float: left;
}

.about-service__stage-pic-box {
  text-align: center;
}

.about-service__stage-pic {
  width: 170px;
  height: 170px;
}

.about-service__stage-title {
  margin-top: 5px;
  font-size: 20px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
}

.about-service__stage-description {
  font-size: 15px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  max-height: 55px;
  overflow: hidden;
  text-align: center;
  width: 190px;
  margin: 5px auto 0;
}

.about-service__description {
  margin-top: 25px;
  font-size: 15px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  padding-bottom: 100px;
}
