.checkbox, .radio {
  opacity: 0;
  position: absolute;
}

.radio-box{
  position: relative;
}

.checkbox, .checkbox-label, .radio, .radio-label {
  display: inline-block;
  cursor: pointer;
}

.checkbox + .checkbox-label:before, .radio + .radio-label:before {
  background: #fff;
  display: block;
  content: '';
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  border: solid 3px #6aaa6d;
  position: absolute;
  left: 0;
  margin-right: 5px;
}

.checkbox_small + .checkbox-label_small:before, .radio_small + .radio-label_small:before {
  width: 13px;
  height: 13px;
  border: solid 2px #6aaa6d;
  margin-right: 5px;
}

.checkbox_alert + .checkbox-label_alert:before, .radio_alert + .radio-label_alert:before {
  border-color: #e45304;
}

.checkbox-label, .radio-label {
  position: relative;
  color: #20201f;
  font-size: 20px;
  line-height: 22px;
  padding-left: 25px;
}

.checkbox-label_small, .radio-label_small {
  font-size: 16px;
  line-height: 18px;
}

.checkbox-label_alert, .radio-label_alert {
  color: #e45304;
}

.checkbox:checked + .checkbox-label:after, .radio:checked + .radio-label:after {
  display: block;
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #6aaa6d;
  top: 5px;
  left: 5px;
}

.checkbox_small:checked + .checkbox-label_small:after, .radio_small:checked + .radio-label_small:after {
  width: 5px;
  height: 5px;
  top: 4px;
  left: 4px;
}

.checkbox_alert:checked + .checkbox-label_alert:after, .radio_alert:checked + .radio-label_alert:after {
  background-color: #e45304;
}

.label-shutted{
  color: #787877;
  font-size: 16px;
}

.label-attention{
  color: #6aaa6d;
}

.btn {
  display: inline-block;
  padding: 0 23px;
  box-sizing: border-box;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #6aaa6d;
  background-color: #fff;
  border: solid 1px #489247;
  cursor: pointer;
  font-size: 20px;
  line-height: 42px;

  -webkit-transform: translateZ(0);
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    background-color: #489247;
    color: #fff;
  }
}

.btn_block {
  display: block;
  width: 100%;
  text-align: center;
}


.select {
  display: block;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-bottom: solid 1px #489247;
  cursor: pointer;
  position: relative;

  &:after{
    content: "";
    display: block;
    position: absolute;
    right: 3px;
    top: 8px;
    width: 7px;
    height: 7px;
    border-bottom: 3px solid #489247;
    border-right: 3px solid #489247;
    transform: rotate(45deg);
  }
}

.select_active {

  .select__options {
    display: block;
  }
}

.select__selected {
  padding: 5px;
  margin-right: 20px;
  font-size: 15px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.select__options {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}

.select__option {
  padding: 8px 5px;
  font-size: 15px;
  line-height: 17px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;

  &:hover {
    color: #489247;
  }
}


.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 15px;
  line-height: 18px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  border-bottom: solid 1px #6aaa6d;
  outline: none;

  //&:focus {
  //  border: solid 1px $controls-focused;
  //}
}
