.popup-product{
  width: 845px;
  background-color: #fff;
  position: relative;
}

.popup-close{
  position: absolute;
  background: url("../img/badges/discard.png");
  width: 62px;
  height: 58px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.popup-product__category-box{
  padding: 29px 80px 0 50px;
}

.popup-product__category-origin{
  margin-right: 5px;
}

.popup-product__category-main{
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

.popup-product__category-splitter{
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__category-sub{
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

.popup-product__origin{
  padding: 15px 80px 0 50px;
  font-size: 12px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__title{
  padding: 1px 80px 0 50px;
  font-size: 20px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__volume{
  padding: 0 80px 0 50px;
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__box{
  padding: 3px 80px 0 50px;

  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

.popup-product__pic-box{
  float: left;
  width: 425px;
  text-align: center;
}

.popup-product__pic{
  max-width: 400px;
}

.popup-product__price-box{
  margin-left: 425px;
}

.popup-product__price{
  font-size: 32px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__price-4-one-title{
  padding-top: 3px;
  font-size: 18px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__price-4-one{
  padding-top: 6px;
  font-size: 15px;
  color: #7f7f7f;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__cart{
  margin-top: 10px;
  border: 1px solid #489247;
  height: 48px;
}

.popup-product__to-cart{
  margin-top: 10px;
  display: block;
  border: 1px solid #489247;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  color: #6aaa6d;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__cart-edit{
  line-height: 48px;
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  display: block;
  width: 33.33%;
}

.popup-product__cart-edit_less{
  color: #fff;
  background-color: #6aaa6d;
  float: left;
}

.popup-product__cart-edit_value{
  color: #6aaa6d;
  margin: 0 auto;
}

.popup-product__cart-edit_more{
  color: #fff;
  background-color: #6aaa6d;
  float: right;
}

.popup-product__error-box{
  padding-top: 19px;
  text-align: right;
}

.popup-product__error{
  background: url("../img/error.png") no-repeat;
  padding-left: 25px;
  font-size: 15px;
  color: #787877;
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

.popup-product__tabs{
  padding: 35px 0 25px;
}

.popup-product__tabs-box{
  border-bottom: 1px solid #e4e4e4;

  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.popup-product__tab-name{
  padding: 15px 0;
  border-bottom: 2px solid transparent;
  font-size: 20px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
  cursor: pointer;
  width: 25%;
  float: left;
  text-align: center;

  &:hover{
    border-bottom: 2px solid #6aaa6d;
    color: #6aaa6d;
  }
}

.popup-product__tab-name_active{
  border-bottom: 2px solid #6aaa6d;
  color: #6aaa6d;
}

.popup-product__seller{
  padding: 13px 80px 0 50px;
  font-size: 15px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__seller-name{
  margin-left: 5px;
  color: #787877;
}

.popup-product__seller-rate-box{
  padding: 10px 80px 0 50px;
  font-size: 15px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-product__seller-rate{
  color: #f5d130;
}

.popup-confirm{
  width: 650px;
  position: relative;
  background-color: #fff;
  padding-bottom: 35px;
}

.popup-confirm__title{
  font-size: 25px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 60px 50px 30px;
}

.popup-confirm__options{
  padding: 0 50px;
}

.popup-confirm__option{
  margin-top: 30px;

  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.popup-confirm__option_name{
  width: 220px;
  float: left;
  font-size: 20px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
}

.popup-confirm__option_value{
  margin-left: 220px;
  font-size: 20px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
}

.popup-confirm__note-title{
  color: $font-alert;
  font-size: 20px;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 40px 50px 0;
}

.popup-confirm__note{
  color: $font-alert;
  font-size: 15px;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 5px 50px 0;
}

.popup-confirm__hr{
  height: 1px;
  background-color: #e4e4e4;
  width: 100%;
  margin: 35px 0;
}

.popup-confirm__button-box{
  margin-top: 32px;
  padding: 0 50px;
  height: 44px;
}

.popup-confirm__button{
  color: #6aaa6d;
  font-size: 20px;
  line-height: 42px;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  display: block;
  float: right;
  width: 170px;
  border: 1px solid #489247;
}

.popup-rate{
  width: 770px;
  position: relative;
  background-color: #fff;
  padding: 50px 0;
}

.popup-rate__title{
  font-size: 25px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
  padding: 0 50px;
}

.popup-rate__hr{
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  margin: 10px 0 30px;
}

.popup-rate__hr_bottom{
  margin: 50px 0;
}

.popup-rate__option{
  padding: 20px 50px 0;
}

.popup-rate__option-label{
  font-size: 20px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
  float: left;
  width: 200px;
}

.popup-rate__option-stars{
  width: 160px;
  height: 30px;
  float: left;
}

.popup-rate__option-star{
  cursor: pointer;
  display: block;
  float: left;
  margin-left: 3px;
  width: 29px;
  height: 26px;
  background: url("../img/star-filled_big.png") no-repeat;

  &:first-child{
    margin-left: 0;
  }
}

.popup-rate__option-star_empty{
  background: url("../img/star-empty_big.png") no-repeat;
}

.popup-rate__option-textarea-box{
  margin-left: 380px;
}

.popup-rate__option-textarea{
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  resize: none;
  padding: 5px 10px;

  &:focus{
    border: 1px solid #38AC6A;
  }
}

.popup-rate__summary{
  padding: 50px 50px 0;
}

.popup-rate__summary-label{
  font-size: 20px;
  color: $font-primary;
  font-family: Tahoma, Helvetica, sans-serif;
  float: left;
  width: 180px;
  padding-top: 15px;
}

.popup-rate__summary-stars{
  width: 210px;
  height: 30px;
  float: left;
  padding-top: 10px;
}

.popup-rate__summary-star{
  //cursor: pointer;
  display: block;
  float: left;
  margin-left: 3px;
  width: 39px;
  height: 35px;
  background: url("../img/star-filled_large.png") no-repeat;

  &:first-child{
    margin-left: 0;
  }
}

.popup-rate__summary-star_empty{
  background: url("../img/star-empty_large.png") no-repeat;
}

.popup-rate__summary-rate{
  font-size: 44px;
  color: #ffd200;
  font-family: Tahoma, Helvetica, sans-serif;
  margin-left: 410px;
}

.popup-rate__submit-box{
  padding: 0 50px;
  text-align: right;
}
