.recipe-page{
  padding: 85px 0 50px;
}

.recipe-page__pic-box{
  text-align: center;
}

.recipe-page__pic{
  width: 1300px;
}

.recipe-page__title{
  font-size: 40px;
  color: #20201f;
  font-family: Tahoma, Helvetica, sans-serif;
  text-align: center;
  margin: 35px 0;
}

.recipe-page__description{
  font-size: 25px;
  color: #939290;
  font-family: Tahoma, Helvetica, sans-serif;
  width: 1100px;
  margin: 0 auto;
}
